body, select, button {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(128, 118, 128);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    font-size: 110%;
}

.gridBox {
    border-style: hidden;
    border-width: 1px;
    padding: 1em;
    border-radius: 25px;
    background-color: rgba(250, 219, 246, 0.699);
}

.title {
    grid-column: 1 / 3;
}

.box-1, .box-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.box-4 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#laptopImage {
    grid-row: 1 / 3
}

.hide {
    display: none;
}

button {
    height: 40px;
    font-weight: bold;
    border-style: hidden;
    border-radius: 25px;
    font-size: 100%;
}


#store {
    border-style: hidden;
    border-width: 1px;
    padding: 1em;
    border-radius: 25px;
}

#getLoan {
    background-color: rgba(242, 102, 255, 0.534);
    width: 100%;
    grid-column: 1 / 3;
}

#bankButton {
    background-color: rgba(253, 242, 146, 0.623);
}

#workButton {
    background-color: rgb(147, 240, 252);
}

#repay {
    background-color: rgba(247, 109, 201, 0.534);
    width: 100%;
    grid-column: 1 / 3;
}

#buyNow {
    background-color: rgba(255, 181, 146, 0.568);
}

header {
    background-color: rgba(174, 0, 255, 0.39);
    color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    padding-left: 3em;
}

select {
    position: relative;
    background-color: rgba(147, 252, 199, 0.596);
    border-style: hidden;
    border-radius: 25px;
    height: 40px;
    text-align-last: center; 
}